################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/OBD Communication/OBD Communication.VC.VC.opendb
*.opensdf
*.VC.db
/OBD Communication/OBD Communication/x64/Debug
